@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-color: hsl(60, 40%, 91%)
    
}
h1,h2,h3{
    font-family: 'Protest Riot', sans-serif;
    
}

/* Header */

#head {

    background-image: url("../images/empty_road_3-wallpaper-1920x1200.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

}


#head h1 {
    font-family: 'protest riot';
    color: rgb(31, 26, 26);
    font-size: 5rem;

    padding: 10px;
    letter-spacing: 2px;
}

#head>a {
    text-decoration: none;
}

#head p {

    color: rgb(31, 26, 26);
    position: relative;
    top: -20px;
    font-size: 40px;


}

#menu {
    background-color: rgb(20, 20, 20);
    font-family: oswald, sans-serif;
    position: sticky;
    top: 2px;
    z-index: 99;
    margin-bottom: 10px;

}

#nav{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 10px;
}

#nav a {
    color: beige;
    text-decoration: none;
}

#nav > li >a:hover{
    font-size: 25px;
    cursor: pointer;
}




/* main */


#tagline{
    text-align: center;
    margin-top: 20px;
}
#tagline > p{
    font-size: 20px;
    color:rgb(20, 20, 20);
    font-weight: bold;
}

h2{
    font-size: 2em;
    margin-bottom: 10px;
}

h3{
    font-size: 1.6em;
    margin-bottom: 10px;
}

.timeline{
    text-align: left;
    padding: 2em;
    
}

.checkpoint div{
    padding: 1em 1em;
    margin-bottom: 1.5em;
    border: 2px solid black;
    border-radius: 1em;

}

.checkpoint p{
    font-family: verdana, sans-serif;
    font-size: 1.2em;
}

.bold{
    font-weight: bolder;
}




/* Footer */

#about-us {

    background-color: hsla(0, 0%, 13%, 0.555)
}

#social-icons {
    background-color: hsla(0, 0%, 13%, 0.855);

}

#social-icons i {
    color: beige;

}

#social-icons>li {
    list-style: none;
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: row;


    list-style-type: none;

}




@media (min-width: 800px) {

    #head h1 {
        text-align: center;
        letter-spacing: 5px;

    }



    #menu>li {
        padding: 5px 30px;
    }


}