@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-color: beige;
    z-index: 50;
    
    
}
h1,h2,h3{
    font-family: 'Protest Riot', sans-serif;
    
}

/* Header */

#head {

    background-image: url("../images/empty_road_3-wallpaper-1920x1200.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

}


#head h1 {
    font-family: 'protest riot';
    color: rgb(31, 26, 26);
    font-size: 5rem;

    padding: 10px;
    letter-spacing: 2px;
}

#head > a {
    text-decoration: none;
    
}

#head p {

    color: rgb(31, 26, 26);
    position: relative;
    top: -20px;
    font-size: 40px;


}

#menu {
    background-color: rgb(0, 0, 34);
    font-family: oswald, sans-serif;
    position: sticky;
    top: 1px;
    z-index: 99;
    margin-bottom: 10px;

}

#nav{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 10px;
}

#nav a {
    color: beige;
    text-decoration: none;
    font-size: 20px;
}

#nav > li >a:hover{
    font-size: 25px;
    cursor: pointer;
}




/* main */



#tagline{
    text-align: center;
    margin-top: 20px;
}
#tagline > p{
    font-size: 20px;
    color:rgb(0, 0, 34);
    font-weight: bold;
    
}

h2{
    font-size: 2em;
    margin-bottom: 10px;
    color:rgb(0, 0, 34);
}

h3{
    font-size: 1.6em;
    margin-bottom: 10px;
    color:beige;
    text-decoration:underline;
}

.timeline{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    

    
}

.checkpoint div{
    background-color: rgb(0, 0, 34);
    padding: 1em 2em;
    margin-bottom: 5em;
    margin-top: 5em;
    max-width:35rem;
    
    border: 5px solid black;
    border-radius: 1em;
    box-shadow: 5px 5px 10px rgb(59, 59, 59);
    letter-spacing: 1px;


}

.checkpoint p{
    font-family: oswald, sans-serif;
    font-size: 1.2em;
    color:rgb(247, 247, 197);
    font-weight: 50;

}

.checkpoint a{
    color:rgb(247, 247, 197);
    text-decoration: none;
}

.bold{
    font-weight: 900;
}





/* Footer */

#about-us {

    background-color: hsla(0, 0%, 13%, 0.555)
}

#social-icons {
    background-color: hsla(0, 0%, 13%, 0.855);

}

#social-icons i {
    color: beige;

}

#social-icons>li {
    list-style: none;
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: row;


    list-style-type: none;

}

@media (min-width:1000px) {

    #head h1{
        font-size: 6rem;
    }

    #nav a{
        font-size: 25px;
    }

    #nav > li > a:hover{
        font-size: 30px;
    }

    h2{
        font-size: 3em;
    }

    #tagline > p{
        font-size: 3em;
    }

   /* h3{
        font-size: 3rem;
    }
    .checkpoint p{
        font-size: 2rem;
    }
    .checkpoint > div{
        padding: 2rem 2rem;
    }
    */
    .odd{
        margin-right: 50rem;
       }
       .oddly{
        margin-right: 50rem;
       }
       .even{
        margin-left: 50rem;
       }
   
}


@media (min-width: 800px) {

   
   .odd{
    margin-right: 20rem;
   }
   .oddly{
    margin-right: 20rem;
   }
   .even{
    margin-left: 20rem;
   }

}



